{% extends "./common/base.html" %}
{% block content %}
    <h1>Feedback</h1>
    <div class="py-3">
        <p>{{ course.title }} by <a href="{% url 'user-detail' course.teacher.user.username %}">{{ course.teacher.user.get_full_name }}</a></p>
    </div>
    <div class="py-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-primary">
                <div class="row">
                    <div class="col">Submission Date</div>
                    <div class="col">Student Name</div>
                    <div class="col">Feedback</div>
                    <div class="col">Academic Performance</div>
                </div>
            </li>
            {% for f in feedbacks %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">{{ f.created_at|date:"M j, Y" }}</div>
                        <div class="col">
                            <a href="{% url 'user-detail' f.student.user.username %}">
                            {{ f.student.user.get_full_name }}
                            </a>
                        </div>
                        <div class="col">{{ f.comments }}</div>
                        <div class="col">
                            {{ f.grade_display }}
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">No feedbacks yet.</li>
            {% endfor %}
        </ul>
    </div>
    {% include "./common/pagination.html" %}

{% endblock %}
