{% extends "./common/base.html" %}
{% block content %}
    <h1>Course Offerings</h1>
    <div class="py-3">
        <p>{{ course.title }} by <a href="{% url 'user-detail' course.teacher.user.username %}">{{ course.teacher.user.get_full_name }}</a></p>
    </div>
    <a href="{% url 'offering-create' course.id %}">Add New Offering for This Course</a>
    <div class="py-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-primary">
                <div class="row">
                    <div class="col">Status</div>
                    <div class="col">Academic Term</div>
                    <div class="col">Dates</div>
                    <div class="col">Actions</div>
                </div>
            </li>
            {% for offering in offerings %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">{{ offering.term.status.label }}</div>
                        <div class="col">{{ offering.term.get_semester_display }} {{ offering.term.year }}</div>
                        <div class="col">{{ offering.term.start_datetime|date:"M j Y" }} - {{ offering.term.end_datetime|date:"M j Y" }}</div>
                        <div class="col">
                            <a href="{% url 'enrolled-student-list' course.id offering.id %}" class="btn btn-primary btn-sm">View Enrolled Students</a>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">No course offerings yet.</li>
            {% endfor %}
        </ul>
    </div>
    {% include "./common/pagination.html" %}

{% endblock %}
