{% extends "./common/base.html" %}
{% block content %}
    <h1>Enrolled Students</h1>
    <div class="py-3">
        <p>{{ offering }}</p>
    </div>
    <div class="py-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-primary">
                <div class="row">
                    <div class="col">Username</div>
                    <div class="col">Full Name</div>
                    <div class="col">Enrollment Date</div>
                    <div class="col">Grade Status</div>
                    <div class="col">Actions</div>
                </div>
            </li>
            {% for e in enrollments %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">{{ e.student.user.username }}</div>
                        <div class="col">{{ e.student.user.get_full_name }}</div>
                        <div class="col">{{ e.enrolled_at|date:"M j Y" }}</div>
                        <div class="col">{{ e.get_grade_display }}</div>
                        <div class="col">
                            <a href="{% url 'user-detail' e.student.user.username %}" class="btn btn-primary btn-sm">View Profile</a>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">No students yet.</li>
            {% endfor %}
        </ul>
    </div>
    {% include "./common/pagination.html" %}

{% endblock %}
