{% extends "./common/base.html" %}
{% block content %}
    <h1>User Profile</h1>
    {% if user.is_teacher and not object.is_active %}
    <div class="alert alert-danger" role="alert">
        This user is deactivated.
    </div>
    {% endif %}
    <div class="py-3">
        <strong class="d-inline-block mb-3 text-primary-emphasis">{{ object.get_user_type_display }}</strong>
        <h1 class="mb-3">{{ object.get_full_name }}</h1>
        <dl class="row">
            {% if object.is_student %}
            {% if object.student_profile.status %}
            <dt class="col-sm-3">Status</dt>
            <dd class="col-sm-9">{{ object.student_profile.status }}</dd>
            {% endif %}
            <dt class="col-sm-3">Program</dt>
            <dd class="col-sm-9">{{ object.student_profile.program }}</dd>
            {% if user.is_teacher %}
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{ object.email }}</dd>
            <dt class="col-sm-3">Registration Date</dt>
            <dd class="col-sm-9">{{ object.student_profile.registration_date }}</dd>
            <dt class="col-sm-3">Registration Expiry Date</dt>
            <dd class="col-sm-9">{{ object.student_profile.registration_expiry_date }}</dd>
            {% endif %}
            {% else %}
            <dt class="col-sm-3">Biography</dt>
            <dd class="col-sm-9">{{ object.teacher_profile.biography }}</dd>
            {% endif %}
        </dl>
    </div>
    {% if user.is_teacher and object.is_student %}
    {% include "./common/student_enrollment_list.html" %}
    {% endif %}

    {% if object.is_teacher %}
    {% include "./common/offered_course_list.html" %}
    {% endif %}
{% endblock %}
