<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'top' %}" class="nav-link px-2 text-body-secondary">Top</a></li>
      {% if user.is_authenticated %}
      <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-body-secondary">Home</a></li>
      {% if not user.is_student %}
      <li class="nav-item"><a href="{% url 'user-list' %}" class="nav-link px-2 text-body-secondary">Users</a></li>
      {% endif %}
      {% endif %}
      <li class="nav-item"><a href="{% url 'course-list' %}" class="nav-link px-2 text-body-secondary">Courses</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">eLearning System</p>
  </footer>
</div>
