{% extends "../userportal/common/base.html" %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<h1>Login</h1>
<form method="post">
  {% include "../userportal/common/standard_form.html" %}
  <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}
