{% extends "./base.html" %}
{% block content %}
    <h1>HOME</h1>
    <div class="py-3">
        {% if user.is_student %}
            <strong class="d-inline-block mb-2 text-success-emphasis">Student</strong>
        {% elif user.is_teacher %}
            <strong class="d-inline-block mb-2 text-primary-emphasis">Teacher</strong>
        {% endif %}
        <h1>{{ user.get_full_name }}</h1>

        <ul class="list-unstyled mt-3 mb-4">
            <li>{{ user.username }}</li>
            <li>{{ user.email }}</li>
        </ul>

        {% if user.is_student %}
            <form method="post" class="row mb-4 row-cols-lg-auto g-3 align-items-center">
                {% csrf_token %}
                <div class="col-12">
                    <label class="visually-hidden">Status</label>
                    {{ status_form.status }}
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Update status</button>
                </div>
            </form>
            <dl class="row">
                <dt class="col-sm-3">Program</dt>
                <dd class="col-sm-9">{{ user.student_profile.program }}</dd>

                <dt class="col-sm-3">Registration Date</dt>
                <dd class="col-sm-9">{{ user.student_profile.registration_date }}</dd>

                <dt class="col-sm-3">Registration Expiry Date</dt>
                <dd class="col-sm-9">{{ user.student_profile.registration_expiry_date }}</dd>
            </dl>
        {% else %}
            <dl class="row">
                <dt class="col-sm-3">Biography</dt>
                <dd class="col-sm-9">{{ user.teacher_profile.biography }}</dd>
            </dl>
        {% endif %}

    </div>

    {% if user.is_student %}
        {% if current_offerings %}
        <div class="py-3">
            <h2>Current Courses</h2>
            <ul class="list-group list-group-flush">
                {% for offering in current_offerings %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">{{ offering.course.title }}</div>
                        <div class="col">Ends on {{ offering.term.end_datetime|date:"M j Y" }}</div>
                        <div class="col">
                            <a href="#" class="btn btn-primary btn-sm">See Course Details</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if upcoming_offerings %}
        <div class="py-3">
            <h2>Upcoming Courses</h2>
            <ul class="list-group list-group-flush">
                {% for offering in upcoming_offerings %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">{{ offering.course.title }}</div>
                        <div class="col">Starting {{ offering.term.start_datetime|date:"M j Y" }}</div>
                        <div class="col">
                            <a href="#" class="btn btn-primary btn-sm">See Course Details</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if past_offerings %}
        <div class="py-3">
            <h2>Past Courses</h2>
            <ul class="list-group list-group-flush">
                {% for offering in past_offerings %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">{{ offering.course.title }}</div>
                        <div class="col">Ended on {{ offering.term.end_datetime|date:"M j Y" }}</div>
                        <div class="col">
                            <a href="#" class="btn btn-primary btn-sm">See Course Details</a>
                            <a href="#" class="btn btn-secondary btn-sm">Leave Feedback</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    {% else %}
    <div class="py-3">
        <h2>Courses</h2>
    </div>
    {% endif %}
{% endblock %}
