{% extends "./common/base.html" %}
{% block content %}
    <h1>HOME</h1>
    <div class="py-3">
        <strong class="d-inline-block mb-3 text-primary-emphasis">{{ user.get_user_type_display }}</strong>
        <h1>{{ user.get_full_name }}</h1>

        {% if user.is_student %}
        <form method="post" class="row mb-4 row-cols-lg-auto g-3 align-items-center">
            {% csrf_token %}
            <div class="col-12">
                <label class="visually-hidden">Status</label>
                {{ status_form.status }}
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Update status</button>
            </div>
        </form>
        {% endif %}
        <dl class="row">
            <dt class="col-sm-3">Username</dt>
            <dd class="col-sm-9">{{ user.username }}</dd>
            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">{{ user.email }}</dd>
            {% if user.is_student %}
            <dt class="col-sm-3">Program</dt>
            <dd class="col-sm-9">{{ user.student_profile.program }}</dd>
            <dt class="col-sm-3">Registration Date</dt>
            <dd class="col-sm-9">{{ user.student_profile.registration_date }}</dd>
            <dt class="col-sm-3">Registration Expiry Date</dt>
            <dd class="col-sm-9">{{ user.student_profile.registration_expiry_date }}</dd>
            {% else %}
            <dt class="col-sm-3">Biography</dt>
            <dd class="col-sm-9">{{ user.teacher_profile.biography }}</dd>
            {% endif %}
        </dl>
    </div>

    {% if user.is_student %}
    {% include "./common/student_enrollment_list.html" %}
    {% else %}
    {% include "./common/offered_course_list.html" %}
    {% endif %}
{% endblock %}
