{% extends "./base.html" %}
{% block content %}
    <h1>Course Offerings</h1>
    <div class="py-3">
        <p>{{ course.title }}</p>
        <p>by <a href="{% url 'user-detail' course.teacher.user.username %}">{{ course.teacher.user.get_full_name }}</a></p>
    </div>
    <a href="{% url 'offering-create' course.id %}">Add New Offering for This Course</a>
    <div class="py-3">
        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-primary">
                <div class="row">
                    <div class="col">Status</div>
                    <div class="col">Academic Term</div>
                    <div class="col">Term Dates</div>
                    <div class="col">Actions</div>
                </div>
            </li>
            {% for offering in offerings %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">{{ offering.status }}</div>
                        <div class="col">{{ offering.term.get_semester_display }} {{ offering.term.year }}</div>
                        <div class="col">{{ offering.term.start_datetime|date:"M j, Y" }} - {{ offering.term.end_datetime|date:"M j, Y" }}</div>
                        <div class="col">
                            <a href="#" class="btn btn-primary btn-sm">View Details</a>
                        </div>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item">No course offerings yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="py-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous%}
                    <li class="page-item">
                        <a class="page-link {% if page_obj.number == 1 %}disables{% endif %}" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link {% if page_obj.number == page_obj.paginator.num_pages %}disables{% endif %}" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
