{% extends "./common/base.html" %}
{% load static %}
{% block content %}

<div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3">
  <div id="statusToast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body"></div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-9 text-start">
        <h1>Live Q&amp;A Session
            {% if qa_session.is_ended %}
            <span class="badge bg-secondary">Closed</span>
            {% endif %}
        </h1>
        <p>for {{ course.title}}</p>
    </div>
    <div class="col-3 text-end">
        {% if qa_session.is_active and is_instructor %}
        <form method="post" action="{% url 'end-qa-session' course.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">End QA Session</button>
        </form>
        {% endif %}
    </div>
</div>

{% if qa_session.is_active %}
<div class="py-3">
    <div class="mb-3">
        <label for="chat-message-input" class="visually-hidden">Your question</label>
        <textarea class="form-control" id="chat-message-input" placeholder="Ask your question here..." rows="2" disabled></textarea>
        {% if not is_instructor %}
        <div class="form-check mt-2">
            <input class="form-check-input" type="checkbox" id="anonymous-checkbox" disabled checked>
            <label class="form-check-label" for="anonymous-checkbox">
                Post as an anonymous user
            </label>
        </div>
        {% endif %}
    </div>
    <button class="btn btn-primary" id="post-question-btn" disabled>Post Question</button>
</div>
{% endif %}

<div class="py-3">
    <h5>Q&amp;A</h5>
    <div id="question-list"></div>
    {% if questions %}
    {% for question in questions %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">
                {{ question.sender }}
            </h5>
            <p class="text-muted small utc-timestamp" data-timestamp="{{ question.timestamp.isoformat }}"></p>
            <p class="card-text">{{ question.text }}</p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}
{% block extra_js %}
{% if qa_session.is_active %}
{{ qa_session.room_name | json_script:"room-name" }}
{{ user.get_full_name | json_script:"user-name" }}
{{ request.get_host | json_script:"host-name" }}
{{ is_instructor | json_script:"is-instructor" }}
<script src="{% static 'userportal/js/active_qa_session.js' %}"></script>
{% else %}
<script src="{% static 'userportal/js/ended_qa_session.js' %}"></script>
{% endif %}
{% endblock %}
