{% extends "./base.html" %}
{% block content %}
    <h1>User Profile</h1>
    <div class="py-3">
        {% if object.is_student %}
            <strong class="d-inline-block mb-2 text-success-emphasis">Student</strong>
        {% elif object.is_teacher %}
            <strong class="d-inline-block mb-2 text-primary-emphasis">Teacher</strong>
        {% endif %}
        <h1>{{ object.get_full_name }}</h1>

        <ul class="list-unstyled mt-3 mb-4">
            <li>{{ object.username }}</li>
            {% if object.is_student %}
                <li>{{ object.student_profile.status }}</li>
            {% endif %}
        </ul>
        <dl class="row">
        {% if object.is_student %}
            <dt class="col-sm-3">Program</dt>
            <dd class="col-sm-9">{{ object.student_profile.program }}</dd>

            {% if user.is_teacher %}
                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">{{ object.email }}</dd>

                <dt class="col-sm-3">Registration Date</dt>
                <dd class="col-sm-9">{{ object.student_profile.registration_date }}</dd>

                <dt class="col-sm-3">Registration Expiry Date</dt>
                <dd class="col-sm-9">{{ object.student_profile.registration_expiry_date }}</dd>
            {% endif %}
        {% else %}
            <dt class="col-sm-3">Biography</dt>
            <dd class="col-sm-9">{{ object.teacher_profile.biography }}</dd>
        {% endif %}
        </dl>
    </div>
    {% if user.is_teacher and object.is_student %}
    <div class="py-3">
        <h2>Current Courses</h2>
    </div>
    <div class="py-3">
        <h2>Past Courses</h2>
    </div>
    {% endif %}
    {% if object.is_teacher %}
    <div class="py-3">
        <h2>Courses</h2>
    </div>
    {% endif %}
{% endblock %}
